header {
    background-color: #355070;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #E56B6F;
    font-size: 3em;
    margin: 0;
}

header ul {
    display: flex;
    padding: 10px;
    gap: 75px;
    margin: 0;
    border: solid black 2px;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #EAAC8B;
    text-transform: uppercase;
}