/* Header */
header {
    background-color: #355070;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #E56B6F;
    font-size: 3em;
    margin: 0;
}

header ul {
    display: flex;
    padding: 10px;
    gap: 75px;
    margin: 0;
    border: solid black 2px;
}

li {
    list-style-type: none;
}

header a {
    text-decoration: none;
    color: #EAAC8B;
    text-transform: uppercase;
}

/* About Me */
div {
    display: flex;
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;
    background-color: #EAAC8B;
}

div h2 {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    text-shadow: 0px 1.5px 1px #E56B6F;
}

div p {
    text-align: end;
    padding: 0px 5px;
    font-size: 15px;
}

div img {
    border: solid black 1px;
    justify-content: right;
}

/* Work */
#work {
    background-color: #6D597A;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding-bottom: 20px;
    padding-top: 10px;
}

#work h2 {
    font-size: 2em;
    margin: 0;
    padding: 10px 0px;
    text-shadow: 0px 1.5px 1px #463154;
}

figure {
    /* border: solid black 1px; */
    padding: 0;
    margin: 0;
}

figure:hover {
    transform: scale(1.02);
}

figcaption {
    text-align: center;
    font-size: smaller;
    text-transform: uppercase;
    background-color: #EAAC8B;
}

.smaller-img {
    background-color: #6D597A;
    padding: 10px;
    margin: 0;
    display: flex;
    gap: 10px;
}

.smaller-img:hover {
    transform: scale(1.02);
}

/* Contact me */
#contact-me {
    background-color: #E56B6F;
    padding: 20px;
}

#contact-me h2 {
    text-align: center;
    text-shadow: 0px 1.5px 1px #B56576;
    margin-top: 0;
}

#contact-me a {
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



 
